:root {
    --slide-1: url("https://storage.cloud.google.com/www.sonnylowe.us/images/background_black.png");
    --slide-2: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8575.JPG");
    --slide-3: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7710.JPG");
    --slide-4: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7728.JPG");
    --slide-5: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7743.JPG");
    --slide-6: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7755.JPG");
    --slide-7: url("https://storage.cloud.google.com/www.sonnylowe.us/images/bird.jpg");
    --slide-8: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7814.JPG");
    --slide-9: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7982.JPG");
    --slide-10: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8014.JPG");
    --slide-11: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8100.JPG");
    --slide-12: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8163.JPG");
    --slide-13: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8182.JPG");
    --slide-14: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8237.JPG");
    --slide-15: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8312.JPG");
    --slide-16: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_8391.JPG");
    --slide-17: url("https://storage.cloud.google.com/www.sonnylowe.us/images/IMG_7695.JPG");
    --mePicture: url("/images/IMG_9642.JPG");
}

html{
    background-color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow: hidden; */
}

body{
    margin: 0;
    cursor: none;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    z-index: 10;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;    
}

.circleText {
    position: fixed;
    margin: 0 auto;
    font-size: 10px;
    font-weight: bold;
}
  .circleText span {
    position: fixed;
    top: 20px;
    right: 5vw;
    width: 27px;
    height: 27px;
    text-align: center;
    transform-origin: bottom center;
    color: white;
}
.circleText span:nth-of-type(7)  {transform: rotate(75deg);}
.circleText span:nth-of-type(6)  {transform: rotate(50deg);}
.circleText span:nth-of-type(5)  {transform: rotate(25deg);}
.circleText span:nth-of-type(4)  {transform: rotate(0deg);}
.circleText span:nth-of-type(3)  {transform: rotate(-25deg);}
.circleText span:nth-of-type(2)  {transform: rotate(-50deg);}
.circleText span:nth-of-type(1)  {transform: rotate(-75deg);}

.circle {
    position: fixed;
    top: 35px;
    right: 4.925vw;
    width: 27px;
    height: 27px;
    border: solid white 1px;
    border-radius: 50%;
}

.photos {
    z-index: -5;
    height: 100vh;
    /* padding-top: 66.66%; */
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: photolapse;
    position: relative;
    animation-duration: 100s;
    background-image: var(--slide-1);
    animation-iteration-count: infinite; 
    background-attachment: fixed;
}

/* .cover{
    width: 100%;
    padding-top: 66.66%;
    position: fixed;
    top:0px;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
}
   */
@keyframes photolapse {
    0%  { background-image: var(--slide-1), var(--slide-2);}
    6.25%  { background-image: var(--slide-2), var(--slide-3);}
    12.50%  {background-image: var(--slide-3), var(--slide-4);}
    18.75%  {background-image: var(--slide-4), var(--slide-5);}
    25%  {background-image: var(--slide-5), var(--slide-6);}
    31.25%  {background-image: var(--slide-6), var(--slide-7);}
    37.50%  {background-image: var(--slide-7), var(--slide-8);}
    43.75%  {background-image: var(--slide-8), var(--slide-9);}
    50%  {background-image: var(--slide-9), var(--slide-10);}
    56.25%  {background-image: var(--slide-10), var(--slide-11);}
    62.50%  {background-image: var(--slide-11), var(--slide-12);}
    68.75%  {background-image: var(--slide-12), var(--slide-13);}
    75%  {background-image: var(--slide-13), var(--slide-14);}
    81.25%  {background-image: var(--slide-14), var(--slide-15);}
    87.50%  {background-image: var(--slide-15), var(--slide-16);}
    93.75%  {background-image: var(--slide-16), var(--slide-17);}
    100%  {background-image: var(--slide-17)};
}

.title {
    position: absolute;
    bottom: 20vh;
    left: 60vw;
    font-size: 4vw;
    color: white;
    font: playfairdisplay,Helvetica,Arial,sans-serif;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    size: 8px;
    width: 8px;
    height: 8px;
    background-color: rgb(251, 255, 0);
}

.cursor-dot-outline {
    size: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(251, 255, 0,0.5);
}

.copyright {
    position: absolute;
    bottom: 9vh;
    left: 2vw;
    font-size: 10px;
    color: white;
    font: playfairdisplay,Helvetica,Arial,sans-serif;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

span {
    display: block;
    color: #fff;
}

.arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    margin-left: -20px;
    width: 33px;
    height: 40px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

#aboutMe{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    font-size: 60px;
    font: playfairdisplay,Helvetica,Arial,sans-serif;
}

#aboutMeText{
    color:white; 
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
}

#mePicture{
    z-index: 5;
    background-image: url(images/IMG_9642.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:90vw;
    background-attachment: fixed;
}

#photography{
    width: 100%;
    height: auto;
}