:root {
    --gradColor1: #062855;
    --gradColor2: #105685;
    --gradColor3: #2586be;
    --gradColor4: #0C4271;
    --notifColor: #031936;

    --gradColor5: #04757A;
    --gradColor6: #043640;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0px;
    background-color: black;
    overflow-y: scroll;
    /* height: 320vh; */
}

#backgroundBlock{
    z-index: -20;
    height: 200vh;
    width: 100vw;
    background-image:
    linear-gradient( 
        var(--gradColor1),
        var(--gradColor2),
        var(--gradColor3)
    ) !important;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0px;
    overflow: auto;
    overflow: visible;
    cursor: none !important;
}


.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    z-index: 100;
}

.cursor-dot {
    size: 8px;
    width: 8px;
    height: 8px;
    background-color: rgb(251, 255, 0);
}

.cursor-dot-outline {
    size: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(251, 255, 0, 0.5);
}

::-webkit-scrollbar {
    display: none;
}

.navbar{
    position: fixed;
    width: 100vw;
    background-color: transparent !important;
    background-image:
    linear-gradient( 
        rgba(0, 0, 0, 0.514),
        rgba(255, 255, 255, 0) 95%
    ) !important;

    max-height: 100vh;
}

.navbar-dropdown{
    background-color: rgba(0, 0, 0, 0.459) !important;
}


@media screen and (max-width: 1023px){
    .navbar{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .navbar-menu {
        background-color: rgba(0, 0, 0, 0.527) !important;
    }
    .navbar-dropdown{
        background-color: transparent !important;
    }
}

.navbar-item{
    margin-right: 10px;
}

.navbar-item, .navbar-link{
    color: white !important;
    background-color: transparent !important;
}

.navbar-menu:not(.is-active) .navbar-item:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.1);
    background-color: transparent !important;
}

#menuBurger{
    color: white !important;
}

.navbar-menu:not(.is-active) .dropdown-item:hover{
    transform: scale(1) !important;
    cursor: not-allowed !important;
}

.notification{
    width: 20vw;
    position: absolute;
    top: 80px;
    right: 20px;
    transition: 0.3s;
    color: white !important;
    background-color: var(--notifColor) !important;
}

#fullScreenNote{
    display: none;
}

.notification:hover{
    top: 74px;
    right: 14px;
}

.delete:hover{
    background-color: rgb(224, 63, 63)
}

#TitleIsland{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -35%);
    width: 38vw;
    transition: 0.5s;
}

#TitleIsland:hover{
    transition: .4s;
    width: calc(38vw + 40px);
}

#ComingSoonBody{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: none;
    width: 55vh;
}

#ocean{
    position: absolute;
    top: 90vh;
    left: 50%;
    /* margin-top: calc( (38vw * 1.5) /2); */
    transform: translate(-50%);
    overflow: hidden;
    width: 100vw;
    height: 30vh;
    background-color: transparent;
    z-index: 2;
}

#waveOne{
    position: absolute;
    top: 40px;
    background: url("images/DarkWave.png") repeat-x;
    background-size:100vw 20vh;
    width: 300vw;
    height: 20vh;
    animation: slide 15s linear infinite;
}

#waveTwo{
    position: absolute;
    top: 20px;
    background: url("images/MediumWave.png") repeat-x;
    background-size:100vw 20vh;
    width: 300vw;
    height: 20vh;
    animation: slide 25s linear infinite;
}

#waveThree{
    position: absolute;
    top: 0;
    background: url("images/LightWave.png") repeat-x;
    background-size:100vw 20vh;
    width: 300vw;
    height: 20vh;
    animation: slide 30s linear infinite;
}

#aboutMe{
    overflow: hidden;
    position: absolute;
    top: 105vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient( 
        var(--gradColor3),
        white 10%,
        white 95%,
        var(--gradColor5)
    ) !important;
    z-index: 1;
}

#HotAirBalloon{
    position: absolute;
    left: 65%;
    top: 52%;
    transform: translate(-35%, -48%);
    width: 22vw;
    transition: 0.5s;
}

#HotAirBalloon:hover{
    width: calc(22vw + 30px);
}

.aboutMeCard{
    position: absolute;
    left: 35%;
    top: 52%;
    transform: translate(-65%, -48%);
    width: 25vw;
    z-index: 1;
}

#aboutMeTitle{
    font-size: 4vw;
    font-weight: bold;
}

#aboutMeContent{
    font-size: 1vw;
}

#sky{
    position: absolute;
    top: 187vh;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    width: 100vw;
    height: 40vh;
    background-color: transparent;
    z-index: 2;
}

#cloudOne{
    position: absolute;
    top: 40px;
    background: url("images/cloudsOne.png") repeat-x;
    background-size:100vw 30vh;
    width: 300vw;
    height: 40vh;
    animation: slide 25s linear infinite;
}

#cloudTwo{
    position: absolute;
    top: 20px;
    background: url("images/cloudsTwo.png") repeat-x;
    background-size:100vw 30vh;
    width: 300vw;
    height: 40vh;
    animation: slide 15s linear infinite;
}

#cloudThree{
    position: absolute;
    top: 20px;
    background: url("images/cloudsTwo.png") repeat-x;
    background-size:100vw 30vh;
    width: 300vw;
    height: 40vh;
    animation: slide 20s linear infinite;
}

@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-100vw, 0, 0);
    }
}

.tiles{
    margin: 5px;
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: lightgray;
}

.Vision{
    position: absolute;
    top: 205vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient( 
        var(--gradColor5),
        var(--gradColor6)
    ) !important;
    z-index: 1;
    overflow: hidden;
}

#Diver{
    position: absolute;
    left: 35%;
    top: 52%;
    transform: translate(-65%, -48%);
    width: 22vw;
    transition: 0.5s;
}

#Diver:hover{
    width: calc(22vw + 30px);
}

.Footer{
    position: absolute;
    top: 305vh;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color: black;
    z-index: 0;
}

.come-in {
    transform: translateY(30vh);
    animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to { transform: translateY(0); }
}

.visionCard{
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-35%, -50%);
    width: 25vw;
    z-index: 2;
}

#visionTitle{
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

#visionContent{
    font-size: 1vw;
    color: white;
}

#Contact{
    overflow: hidden;
    position: absolute;
    top: 305vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient( 
        var(--gradColor6),
        white 10%
    ) !important;
    z-index: 1;
}

.contactCard{
    position: absolute;
    left: 35%;
    top: 52%;
    transform: translate(-65%, -48%);
    width: 25vw;
    z-index: 1;
    /* color: white; */
}

#contactTitle{
    font-size: 4vw;
    font-weight: bold;
}

#contactContent{
    font-size: 1vw;
}

#ocean2{
    position: absolute;
    top: 290vh;
    left: 50%;
    /* margin-top: calc( (38vw * 1.5) /2); */
    transform: translate(-50%);
    overflow: hidden;
    width: 100vw;
    height: 30vh;
    background-color: transparent;
    z-index: 2;
}

#DartBoard{
    position: absolute;
    left: 65%;
    top: 52%;
    transform: translate(-35%, -48%);
    width: 28vw;
    transition: 0.5s;
}

#DartBoard:hover{
    width: calc(28vw + 30px);
}

#watermark{
    position: fixed;
    bottom: 10px;
    right: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    z-index: 3;
}

#watermark p{
    color: white;
}