@media only screen and (hover: none) {
    .navbar{
        max-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .is-active{
        background-color: rgba(0, 0, 0, 0.63) !important;
    }
    .navbar-dropdown{
        background-color: rgba(0, 0, 0, 0) !important;
    }
}

@media screen and (orientation: portrait) {
    .navbar{
        max-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .is-active{
        background-color: rgba(0, 0, 0, 0.63) !important;
    }
    .navbar-dropdown{
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .notification{
        width: 90vw;
    }

    #ocean{
        top: calc(102vh - 5vw);
        width: 100vw;
        height: 20vh;
    }

    #ocean2{
        top: calc(302vh - 5vw);
        width: 100vw;
        height: 20vh;
    }
    
    #waveOne{
        background-size:100vw 10vw;
        height: 10vw;
    }
    
    #waveTwo{
        background-size:100vw 10vw;
        height: 10vw;
    }
    
    #waveThree{
        background-size:100vw 10vw;
        height: 10vw;
    }

    #sky{
        top: calc(200vh - 10vw);
        width: 100vw;
        height: 30vw;
    }
    
    #cloudOne{
        background-size:100vw 20vw;
        height: 20vw;
    }
    
    #cloudTwo{
        background-size:100vw 20vw;
        height: 20vw;
    }
    
    #cloudThree{
        background-size:100vw 20vw;
        height: 20vw;
    }

    #TitleIsland{
        top: 60%;
        left: 45%;
        transform: translate(-55%, -40%);
        width: 95vw;
    }

    #TitleIsland:hover{
        width: calc(90vw + 40px);
    }

    #HotAirBalloon{
        left: 60%;
        top: 40%;
        transform: translate(-40%, -60%);
        width: 65vw;
    }
    
    #HotAirBalloon:hover{
        width: calc(65vw + 30px);
    }
    
    .aboutMeCard{
        left: 40%;
        top: 55%;
        transform: translate(-60%, -45%);
        width: 55vw;
    }

    #aboutMeTitle{
        font-size: 8vw;
    }
    
    #aboutMeContent{
        font-size: 1.5vh;
        font-weight: 500;
    }

    #Diver{
        left: 40%;
        top: 40%;
        transform: translate(-60%, -60%);
        width: 65vw;
    }
    
    #Diver:hover{
        width: calc(65vw + 30px);
    }

    .visionCard{
        left: 60%;
        top: 52%;
        transform: translate(-40%, -48%);
        width: 55vw;
    }
    
    #visionTitle{
        font-size: 8vw;
    }
    
    #visionContent{
        font-size: 1.5vh;
        font-weight: 500;
    }

    .contactCard{
        left: 50%;
        top: 55%;
        transform: translate(-50%, -45%);
        width: 90vw;
    }
    
    #contactTitle{
        font-size: 8vw;
    }
    
    #DartBoard{
        left: 60%;
        top: 40%;
        transform: translate(-40%, -60%);
        width: 65vw;
    }
    
    #DartBoard:hover{
        width: calc(65vw + 30px);
    }
}


@media only screen and (max-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}

